body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f7;
    margin: 0;
    padding: 0;
    color: #333;
}


header {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 20px;
}


section {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    
    margin: 0;
}

h2 {
    text-align: center;
    color: #1e293b;
    margin-bottom: 10px;
}


p {
    line-height: 1.6;
    font-size: 16px;
}


a {
    display: inline-block;
    margin-top: 10px;
    color: #2563eb;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


.imagen {
    text-align: center;
}

.imagen img {
    width: 300px;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


@media (max-width: 600px) {
    section {
        padding: 15px;
    }

    p {
        font-size: 15px;
    }
}